@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@keyframes slideInFromLeft {
  0% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0); } }
@keyframes slideInFromUp {
  0% {
    transform: translateY(20%); }
  100% {
    transform: translateY(0); } }
@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.slideleft {
  animation: 1s ease-in-out 0s 1 slideInFromLeft; }

.slideup {
  animation: 1s ease-in-out 0s 1 slideInFromUp; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

html {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(85, 112, 241, 0.1) white;
  scroll-behavior: smooth;
  scroll-padding: 100px; }

body {
  height: 100%;
  background-color: rgba(85, 112, 241, 0.1);
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  color: rgba(28, 29, 34, 0.8);
  user-select: none;
  -webkit-user-drag: none; }

::selection {
  background: rgba(28, 21, 59, 0.162); }

img {
  user-select: none;
  -webkit-user-drag: none; }

a,
a:hover {
  text-decoration: none;
  color: inherit; }

.purple {
  color: #1c1d22 !important; }

.white {
  color: white !important; }

.radius, .sidebar2 .sidebar-wrapper2 .sidebar-ul2 .side-active {
  border-radius: 10px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's above other elements */ }

.right {
  position: relative;
  max-width: 90%;
  margin-left: 5.5rem; }

.sidebar-logo {
  display: flex;
  max-width: 10rem !important;
  height: auto;
  margin: auto 0 auto auto;
  float: right; }

.pbg, .tasklar .task-wrapper .task-ul .task-li {
  background-color: white;
  border-radius: 10px;
  border: 1px solid white; }

#sideOpen {
  font-size: 2rem;
  background-color: transparent;
  border: none; }

/** LOGIN REGISTER **/
.App {
  background-image: url("Assets/login.svg");
  background-position: 30% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw; }
  .App .login-container {
    position: relative;
    height: 100vh;
    max-width: 500px;
    padding: 0 20px;
    margin: auto; }
    .App .login-container .wrapper {
      position: absolute;
      top: 30%;
      width: 400px;
      background: none;
      border-radius: 5px; }
      .App .login-container .wrapper .title {
        height: 90px;
        background: none;
        border-radius: 5px 5px 0 0;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center; }
      .App .login-container .wrapper form {
        padding: 0; }
        .App .login-container .wrapper form .row {
          box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
          height: 45px;
          margin-bottom: 15px;
          position: relative; }
          .App .login-container .wrapper form .row input {
            background-color: #e8f0fe;
            height: 100%;
            width: 100%;
            outline: none;
            padding-left: 60px;
            border-radius: 5px;
            border: 1px solid #323377;
            font-size: 16px;
            transition: all 0.3s ease; }
            .App .login-container .wrapper form .row input:focus {
              border-color: #323377;
              box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25); }
            .App .login-container .wrapper form .row input::placeholder {
              color: #999; }
          .App .login-container .wrapper form .row i {
            position: absolute;
            width: 47px;
            height: 100%;
            color: #fff;
            font-size: 18px;
            background: #323377;
            border: 1px solid #323377;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            justify-content: center; }
          .App .login-container .wrapper form .row .pass {
            margin: -8px 0 20px 0; }
            .App .login-container .wrapper form .row .pass a:hover {
              text-decoration: underline; }
        .App .login-container .wrapper form .button input {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          padding-left: 0px;
          background: #323377;
          border: 1px solid #323377;
          cursor: pointer; }
          .App .login-container .wrapper form .button input:hover {
            background: #d6f2ff;
            border: none;
            color: #323377; }
        .App .login-container .wrapper form .signup-link {
          margin-top: 20px;
          font-size: 17px;
          color: #323377 !important; }
          .App .login-container .wrapper form .signup-link a {
            color: #323377 !important;
            text-decoration: none; }
            .App .login-container .wrapper form .signup-link a:hover {
              text-decoration: underline; }
      .App .login-container .wrapper .login-logo {
        width: 15rem; }
      .App .login-container .wrapper #togglePassword {
        color: #001b48;
        border: none;
        position: absolute;
        right: 0;
        background-color: transparent;
        cursor: pointer; }

/** LOGIN REGISTER FINISH**/
/** SIDEBAR**/
.sidebar2 {
  z-index: 9;
  position: fixed;
  display: flex;
  max-width: 133px; }
  .sidebar2 .sidebar-wrapper2 {
    position: absolute;
    z-index: 9;
    min-height: 100vh;
    float: left;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px 10px 0 0;
    background-color: white;
    border-right: 1px solid rgba(28, 29, 34, 0.2);
    display: flex;
    flex-direction: column; }
    .sidebar2 .sidebar-wrapper2 .sidebar-ul2 {
      justify-content: center;
      text-align: center;
      padding: 0;
      list-style: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      flex-grow: 1; }
      .sidebar2 .sidebar-wrapper2 .sidebar-ul2 .sidebar-li2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 0;
        margin: 1rem 0;
        transition: 0.5s; }
        .sidebar2 .sidebar-wrapper2 .sidebar-ul2 .sidebar-li2:hover {
          color: #0c1211; }
        .sidebar2 .sidebar-wrapper2 .sidebar-ul2 .sidebar-li2 .sidebar-link {
          color: rgba(28, 29, 34, 0.5);
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: 100;
          /** 1.3 **/ }
      .sidebar2 .sidebar-wrapper2 .sidebar-ul2 .side-active {
        border: 1px solid #5570f1;
        /* Set the border color and width */
        background-color: #5570f1;
        /* Create a circular border */
        margin: 1.5rem auto;
        width: 36px;
        /* Set the width of the square */
        height: 36px;
        /* Set the height of the square */ }
        .sidebar2 .sidebar-wrapper2 .sidebar-ul2 .side-active a {
          font-size: 1.2rem;
          color: white !important; }
    .sidebar2 .sidebar-wrapper2 .sidebar-logo {
      display: flex;
      max-width: 10rem !important;
      height: auto;
      margin: auto 0 auto auto;
      float: right; }
    .sidebar2 .sidebar-wrapper2 .small-logo {
      max-width: 2rem; }

.mobilsidebar2 {
  z-index: 9;
  position: fixed;
  display: flex;
  max-width: 100vw;
  font-size: 1.3rem; }
  .mobilsidebar2 .sidebar-wrapper2 {
    width: 104vw;
    transition: 2.2s cubic-bezier(0.36, -0.01, 0, 0.77);
    position: absolute;
    min-height: 100vh;
    float: left;
    top: 0;
    left: 0;
    margin: 0;
    padding: 50px 0 0 0;
    background-color: white;
    border-right: 1px solid rgba(28, 29, 34, 0.2);
    display: flex;
    flex-direction: column; }
    .mobilsidebar2 .sidebar-wrapper2 .sidebar-ul2 {
      justify-content: center;
      text-align: center;
      padding: 0;
      list-style: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      flex-grow: 1; }
      .mobilsidebar2 .sidebar-wrapper2 .sidebar-ul2 .sidebar-li2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 0;
        margin: 1.5rem 0;
        transition: 0.5s; }
        .mobilsidebar2 .sidebar-wrapper2 .sidebar-ul2 .sidebar-li2:hover {
          color: #0c1211; }
        .mobilsidebar2 .sidebar-wrapper2 .sidebar-ul2 .sidebar-li2 .sidebar-link {
          color: rgba(28, 29, 34, 0.5);
          text-decoration: none;
          font-weight: 100;
          /** 1.3 **/ }
        .mobilsidebar2 .sidebar-wrapper2 .sidebar-ul2 .sidebar-li2 p {
          margin: 0; }
      .mobilsidebar2 .sidebar-wrapper2 .sidebar-ul2 .side-active a {
        font-size: 2rem; }
    .mobilsidebar2 .sidebar-wrapper2 .small-logo {
      max-width: 50px; }
    .mobilsidebar2 .sidebar-wrapper2 .closeButton {
      position: absolute;
      background-color: transparent;
      border: none;
      top: 5px;
      right: 5px; }
  .mobilsidebar2 .sidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    backdrop-filter: blur(5px);
    /* Apply a blur effect */
    z-index: -1; }

/** SIDEBAR bitiş**/
/** ANA EKRAN**/
.trans {
  transition: 0.3s; }

.mainhov:hover {
  scale: 1.03;
  background-color: transparent;
  color: #001b48; }

.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden; }

.dashboard {
  /** FORADMIN**/ }
  .dashboard .profile-button {
    padding: 0.3rem 0.7rem;
    background-color: transparent;
    border: 1px solid #270082;
    color: #270082;
    border-radius: 10px; }
    .dashboard .profile-button:hover {
      padding: 0.3rem 0.9rem;
      background-color: transparent;
      border: 1px solid #fa58b6;
      color: #fa58b6;
      border-radius: 10px; }
  .dashboard #total-sales, .dashboard #total-purchases, .dashboard #total-orders {
    background-color: white;
    border-radius: 10px;
    width: 32%;
    margin: 0 0rem 0 0; }
  .dashboard #total-sales {
    padding: 1rem 0 1rem 2rem; }
  .dashboard #total-purchases {
    padding: 1rem 0 1rem 2rem; }
  .dashboard #total-orders {
    padding: 1rem 0 1rem 2rem; }
  .dashboard #total-growth {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 1rem 3rem 1rem 0;
    padding: 1rem 31% 1rem 31%; }
  .dashboard .aylık {
    font-size: 0.9rem !important;
    color: rgba(28, 29, 34, 0.7); }
  .dashboard .plus {
    border-radius: 500px;
    background-color: #519c66;
    width: 50%;
    padding: 0 0 0 1rem;
    position: relative;
    top: 0;
    margin: 0; }
  .dashboard .minus {
    border-radius: 500px;
    background-color: #cc5f5f;
    width: 50%;
    padding: 0 0 0 1rem;
    position: relative;
    top: 0;
    margin: 0; }
  .dashboard .plus2 {
    border-radius: 40px;
    background-color: #519c66;
    width: 50%;
    padding: 0 0 0 1rem;
    position: absolute;
    left: -70%;
    bottom: 15%;
    margin: 0;
    font-size: 2rem; }
  .dashboard .minus2 {
    border-radius: 40px;
    background-color: #cc5f5f;
    width: 50%;
    padding: 0 0 0 1rem;
    position: absolute;
    left: -70%;
    bottom: 15%;
    margin: 0;
    font-size: 2rem; }
  .dashboard #graph {
    background-color: white;
    border-radius: 10px;
    height: auto; }
  .dashboard #status {
    font-size: 1rem;
    background-color: white;
    border-radius: 10px;
    height: 23rem; }
  .dashboard #customer-info {
    height: auto;
    font-size: 1rem;
    background-color: white;
    border-radius: 10px; }
  .dashboard .main-info {
    color: rgba(28, 29, 34, 0.6);
    font-weight: 300;
    margin: 0.5rem 0 0.5rem 0; }
  .dashboard .main-info2 {
    color: #1c1d22;
    font-size: 1.4rem;
    font-weight: 300; }
  .dashboard .info-hr {
    margin-right: 40%; }

/** ana ekran bitiş**/
/** PROFİL SEKMESİ**/
.profil .profile-title {
  font-size: 13px;
  border-bottom: 1px solid rgba(85, 112, 241, 0.3);
  padding: 0.7rem 0 0.7rem 0.5rem;
  margin: 0; }
.profil .profile-info {
  margin: 0;
  padding: 1rem 0 1rem 1rem; }
.profil .buton2, .profil .profile-button {
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid #270082;
  color: #270082;
  border-radius: 10px; }
  .profil .buton2:hover, .profil .profile-button:hover {
    padding: 0.7rem 1rem;
    background-color: transparent;
    border: 1px solid #fa58b6;
    color: #fa58b6;
    border-radius: 10px; }
.profil .profile-button {
  padding: 0.3rem 0.7rem; }
  .profil .profile-button:hover {
    padding: 0.3rem 0.9rem; }
.profil .profile-input {
  margin: 0 auto;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(85, 112, 241, 0.3); }
.profil #profile-photo {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fa58b6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
.profil #profile-name {
  position: absolute;
  top: 27px;
  left: 27px; }
.profil .add-product {
  cursor: pointer; }
.profil .profil-guncelle-buton {
  margin: 0 0 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  border-radius: 10px;
  padding: 3px 20px;
  color: white;
  background: #1a2142;
  background: -moz-linear-gradient(122deg, rgba(62, 79, 162, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
  background: -webkit-linear-gradient(122deg, rgba(61, 77, 157, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
  background: linear-gradient(122deg, rgba(64, 80, 163, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
  border: none; }
  .profil .profil-guncelle-buton:hover {
    padding: 3px 25px; }

/** PROFİL BİTİŞ **/
/** MODAL BAŞLANGIÇ**/
.overlay input[type="button"] {
  border: none;
  outline: none !important; }
.overlay .modalContainer {
  z-index: 50;
  width: 50vw;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 2rem; }
.overlay .closeBtn,
.overlay .closeBtn:hover {
  position: absolute;
  top: 0;
  right: 15px;
  color: #0c1211;
  background-color: transparent;
  border: none;
  outline: none; }
.overlay .closeBtn:focus {
  outline: none !important; }
.overlay .service-img {
  width: 300px; }
.overlay .modal-logo {
  width: 150px;
  display: flex;
  justify-content: center; }
.overlay .purchase-btn {
  transition: 0.5s;
  background-color: rgba(85, 112, 241, 0.1);
  border-radius: 25px;
  font-size: 1.4rem;
  padding: 10px 25px; }
.overlay .purchase-btn:hover {
  border-radius: 25px;
  font-size: 1.4rem;
  padding: 10px 35px; }
.overlay .modal-info-1 {
  color: #1c1d22;
  margin: 0 0; }
.overlay .modal-info-2 {
  font-size: 1.2rem !important;
  text-decoration: line-through;
  color: rgba(28, 29, 34, 0.8);
  margin: 13px 0; }
.overlay .modal-info-4 {
  color: #1c1d22;
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 13px 0; }
  .overlay .modal-info-4 .month {
    font-weight: 500;
    font-size: 1.6rem; }
.overlay .discount {
  color: #5570f1;
  vertical-align: middle;
  margin: auto 0 auto 5px;
  border: 1px solid #5570f1;
  border-radius: 10px;
  padding: 2px 7px; }
.overlay .satin-al {
  transition: 0.3s;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px 35px;
  color: white;
  background: #1a2142;
  background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
  background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
  background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
  border: none; }
  .overlay .satin-al:hover {
    padding: 5px 40px; }

.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .confirm-modal h2 {
    font-size: 24px;
    margin-bottom: 10px; }
  .confirm-modal p {
    font-size: 18px;
    margin-bottom: 20px; }
  .confirm-modal .confirm-actions {
    display: flex;
    justify-content: center; }
    .confirm-modal .confirm-actions button {
      padding: 10px 20px;
      margin: 0 10px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
      .confirm-modal .confirm-actions button:nth-child(1) {
        background-color: #5570f1;
        color: #fff; }
      .confirm-modal .confirm-actions button:nth-child(2) {
        background-color: #cc5f5f;
        color: #fff; }
      .confirm-modal .confirm-actions button:hover {
        opacity: 0.8; }

.info-container .info-modal {
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
.info-container .info-modal h2 {
  font-size: 24px;
  margin-bottom: 10px; }
.info-container .info-modal p {
  font-size: 18px;
  margin-bottom: 20px; }
.info-container .info-actions {
  display: flex;
  justify-content: center; }

/** modal bitiş**/
/** BELGELER **/
.belgeler .buton3, .belgeler .buton4 {
  cursor: pointer;
  transition: ease-in-out 0.3s;
  margin: 0 2rem;
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  background-color: transparent;
  color: #1c1d22;
  border-radius: 10px;
  border: none; }
.belgeler .buton4 {
  border: 1px solid #1c1d22; }
.belgeler .hov {
  scale: 1; }
.belgeler .buton3:hover, .belgeler .buton4:hover {
  scale: 0.95;
  color: #fa58b6;
  background-color: #1c1d22; }
.belgeler .buton4:hover {
  scale: 1.05;
  color: #fa58b6;
  background-color: #1c1d22; }
.belgeler .dropdown2:hover .dropdown-menu {
  display: block;
  margin-top: 0; }
.belgeler .info-btn {
  font-size: 1rem;
  pointer-events: none;
  background-color: transparent;
  border: none; }
.belgeler .info {
  padding-left: 10px;
  padding-right: 10px;
  inset: auto auto auto auto !important;
  background-color: white;
  border-radius: 10px;
  max-width: 400px; }

/** belgeler bitiş**/
/** ürünler **/
.urunler input:focus,
.urunler select:focus,
.urunler textarea:focus,
.urunler button:focus {
  outline: none; }
.urunler .product-input {
  max-width: 70%;
  border-radius: 20px;
  padding: 0.1rem 1rem;
  border: 1px solid #1c1d22;
  transition: 0.5s; }
.urunler .product-input:focus,
.urunler .product-input:focus-visible {
  max-width: 100%;
  border-radius: 20px;
  padding: 0.1rem 1rem; }
.urunler .p-search {
  font-size: 1.1rem; }
.urunler .product-list {
  list-style: none;
  padding: 0; }
.urunler .product-item {
  cursor: pointer;
  width: auto;
  padding: 1rem; }
.urunler .product-active {
  background-color: #5570f1;
  color: white; }
.urunler #product-image {
  width: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px #1c1d22; }
.urunler .product-list-container {
  min-height: 60vh;
  max-height: 60vh;
  /* Adjust the height as needed */
  overflow-y: auto; }
.urunler #add-product-info {
  max-width: 800px;
  max-height: 500px;
  object-fit: contain; }
.urunler .product-btn {
  background-color: transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #0c1211;
  display: flex;
  /* Add this to use flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */ }
  .urunler .product-btn i {
    margin: 0;
    /* Remove any default margin */ }
.urunler .dropdown-toggle::after {
  display: none; }
.urunler .product-dropdown {
  margin: 10px 0 10px 0px; }
.urunler .upload {
  transition: 1s;
  inset: 3px -200px auto auto !important;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); }
.urunler .buton2, .urunler .profil .profile-button, .profil .urunler .profile-button {
  transition: 0.5s;
  padding: 0.4rem;
  background-color: transparent;
  border: 1px solid #270082;
  color: #270082;
  border-radius: 10px; }
  .urunler .buton2:hover, .urunler .profil .profile-button:hover, .profil .urunler .profile-button:hover {
    padding: 0.4rem 1rem;
    background-color: transparent;
    border: 1px solid #fa58b6;
    color: #fa58b6;
    border-radius: 10px; }

/* ÜRÜNLER BİTİŞ */
/* HİZMETLER */
.hizmetler .hizmet-wrap {
  background-color: transparent;
  padding: 25px 25px 25px 25px; }
  .hizmetler .hizmet-wrap .hizmet {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 20px;
    height: 150px;
    border: 1px solid rgba(28, 21, 59, 0.5);
    border-radius: 10px;
    transition: 0.5s; }
    .hizmetler .hizmet-wrap .hizmet .info-btn {
      font-size: 1rem;
      pointer-events: none;
      background-color: transparent;
      border: none; }
    .hizmetler .hizmet-wrap .hizmet .info {
      padding-left: 10px;
      padding-right: 10px;
      inset: auto auto auto auto !important;
      background-color: white;
      border-radius: 10px;
      max-width: 400px; }
  .hizmetler .hizmet-wrap .amazon {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.192); }
    .hizmetler .hizmet-wrap .amazon:hover {
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.192); }
  .hizmetler .hizmet-wrap .allegro {
    box-shadow: 0px 0px 10px 1px rgba(172, 123, 0, 0.192); }
    .hizmetler .hizmet-wrap .allegro:hover {
      box-shadow: 0px 0px 10px 5px rgba(172, 123, 0, 0.192); }
  .hizmetler .hizmet-wrap .walmart {
    box-shadow: 0px 0px 5px 1px rgba(0, 106, 172, 0.192); }
    .hizmetler .hizmet-wrap .walmart:hover {
      box-shadow: 0px 0px 5px 5px rgba(0, 106, 172, 0.192); }
  .hizmetler .hizmet-wrap .wayfair {
    box-shadow: 0px 0px 5px 1px rgba(109, 0, 172, 0.192); }
    .hizmetler .hizmet-wrap .wayfair:hover {
      box-shadow: 0px 0px 5px 5px rgba(109, 0, 172, 0.192); }
  .hizmetler .hizmet-wrap .ozon {
    box-shadow: 0px 0px 5px 1px rgba(0, 53, 244, 0.192); }
    .hizmetler .hizmet-wrap .ozon:hover {
      box-shadow: 0px 0px 5px 3px rgba(0, 72, 255, 0.192); }
  .hizmetler .hizmet-wrap .hizmet-isim {
    font-size: 20px;
    margin-bottom: 5px; }
  .hizmetler .hizmet-wrap .hizmet-tür {
    margin-bottom: 5px;
    color: rgba(28, 29, 34, 0.8); }
  .hizmetler .hizmet-wrap .hizmet-ücret {
    color: rgba(28, 29, 34, 0.5); }
  .hizmetler .hizmet-wrap .hizmet-img {
    position: absolute;
    bottom: 0px;
    right: -30px;
    opacity: 0.1;
    rotate: -15deg;
    max-width: 200px; }
.hizmetler .nav-link {
  color: rgba(28, 29, 34, 0.6); }
.hizmetler .nav-tabs .nav-link.active {
  color: #5570f1; }
.hizmetler .service-info {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px; }
.hizmetler .satin-al {
  transition: 0.3s;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px 35px;
  color: white;
  background: #1a2142;
  background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
  background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
  background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
  border: none; }
  .hizmetler .satin-al:hover {
    padding: 5px 40px; }
.hizmetler .hizmet-wrap-vezu {
  background-color: transparent;
  padding: 25px 25px 25px 25px; }
  .hizmetler .hizmet-wrap-vezu .accordion-header {
    cursor: pointer; }
  .hizmetler .hizmet-wrap-vezu .accordion-item,
  .hizmetler .hizmet-wrap-vezu .accordion-button,
  .hizmetler .hizmet-wrap-vezu .accordion,
  .hizmetler .hizmet-wrap-vezu .accordion-header,
  .hizmetler .hizmet-wrap-vezu .accordion-button:focus {
    background-color: transparent;
    box-shadow: none; }
  .hizmetler .hizmet-wrap-vezu .hizmet {
    overflow: hidden;
    position: relative;
    padding: 0px;
    border: 1px solid #1c153b;
    border-radius: 10px;
    transition: 0.5s; }
  .hizmetler .hizmet-wrap-vezu .vezu {
    box-shadow: 0px 0px 5px 1px rgba(109, 0, 172, 0.192); }
    .hizmetler .hizmet-wrap-vezu .vezu:hover {
      box-shadow: 0px 0px 5px 5px rgba(109, 0, 172, 0.192); }
  .hizmetler .hizmet-wrap-vezu .hizmet-isim {
    transition: 1s;
    color: #1c1d22;
    font-size: 20px;
    margin-bottom: 0; }
  .hizmetler .hizmet-wrap-vezu .hizmet-tür {
    margin-bottom: 5px;
    color: rgba(28, 29, 34, 0.6); }
  .hizmetler .hizmet-wrap-vezu .hizmet-ücret {
    color: rgba(28, 29, 34, 0.6); }
  .hizmetler .hizmet-wrap-vezu .hizmet-img {
    position: absolute;
    bottom: 5px;
    right: -40px;
    opacity: 0.1;
    rotate: -10deg;
    max-width: 250px; }
  .hizmetler .hizmet-wrap-vezu .hizmet-buton {
    margin: 0 0 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    border-radius: 10px;
    padding: 3px 20px;
    color: white;
    background: #1a2142;
    background: -moz-linear-gradient(122deg, rgba(62, 79, 162, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
    background: -webkit-linear-gradient(122deg, rgba(61, 77, 157, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
    background: linear-gradient(122deg, rgba(64, 80, 163, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
    border: none; }
    .hizmetler .hizmet-wrap-vezu .hizmet-buton:hover {
      padding: 3px 25px; }
  .hizmetler .hizmet-wrap-vezu .hizmet-buton2 {
    margin: 0 0 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    border-radius: 10px;
    padding: 3px 20px;
    color: white;
    background: #1a2142;
    background: -moz-linear-gradient(122deg, rgba(39, 44, 70, 0.9) 12%, rgba(104, 107, 121, 0.9) 75%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-linear-gradient(122deg, rgba(39, 44, 70, 0.9) 12%, rgba(104, 107, 121, 0.9) 75%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(122deg, rgba(39, 44, 70, 0.9) 12%, rgba(104, 107, 121, 0.9) 75%, rgba(0, 0, 0, 0.9) 100%);
    border: none; }
    .hizmetler .hizmet-wrap-vezu .hizmet-buton2:hover {
      padding: 3px 25px; }

/* HİZMETLER BİTİŞ */
/* MARKETFINDER BAŞLANGIC */
.finder-wrapper .swiper-slide {
  height: 450px !important; }
.finder-wrapper .map {
  max-width: 400px; }
.finder-wrapper .finder-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  transition: 0.5s;
  border-radius: 10px;
  padding: 10px 35px;
  color: white;
  background: #1a2142;
  background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
  background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
  background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a2142",endColorstr="#fa58b6",GradientType=1);
  border: none; }
  .finder-wrapper .finder-submit:hover {
    padding: 10px 40px; }
.finder-wrapper .next-arrow, .finder-wrapper .prev-arrow {
  cursor: pointer;
  position: absolute;
  height: auto;
  width: auto;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 5px; }
.finder-wrapper .next-arrow {
  right: 10px; }
.finder-wrapper .prev-arrow {
  left: 10px; }
.finder-wrapper .slide {
  margin-top: 5rem !important;
  min-height: 10rem; }
.finder-wrapper .swiper-pagination-progressbar-fill {
  background-image: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%) !important;
  /* Replace with your desired gradient colors */ }
.finder-wrapper .custom-radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
.finder-wrapper .custom-radio input[type="radio"] {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  /* Adjust the size as needed */
  height: 25px;
  /* Adjust the size as needed */
  border: 2px solid #3d4d9d;
  /* Border color */
  border-radius: 50%;
  /* Make it circular */
  outline: none;
  cursor: pointer;
  position: relative;
  /* Add relative positioning */ }
.finder-wrapper .custom-radio input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 80%;
  /* Adjust the size of the inner circle */
  height: 80%;
  /* Adjust the size of the inner circle */
  background: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%);
  /* Inner circle color */
  border-radius: 50%;
  /* Make it circular */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center it */
  opacity: 0;
  /* Initially hidden */ }
.finder-wrapper .custom-radio input[type="radio"]:checked::before {
  opacity: 1;
  /* Show inner circle when checked */ }
.finder-wrapper .radio-label {
  cursor: pointer;
  padding-left: 10px;
  /* Adjust the spacing between the radio button and label */
  font-size: 22px;
  /* Adjust the font size as needed */ }
.finder-wrapper .custom-select {
  padding: 8px;
  font-size: 18px;
  /* Adjust the font size as needed */
  border: none;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%);
  /* Replace with your desired gradient colors */
  color: white; }
  .finder-wrapper .custom-select option {
    color: #1c1d22; }
.finder-wrapper .finder-text {
  height: 450px;
  font-size: 1.3rem;
  font-weight: 300; }
.finder-wrapper .finder-result {
  height: 450px;
  font-size: 1rem;
  font-weight: 300; }
  .finder-wrapper .finder-result .result-logo {
    max-height: 60px;
    margin: auto auto 1rem auto; }
  .finder-wrapper .finder-result .finder-ul {
    font-size: 1rem; }
    .finder-wrapper .finder-result .finder-ul p {
      margin: 0; }
  .finder-wrapper .finder-result .satin-al {
    transition: 0.3s;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    background: #1a2142;
    background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
    background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
    background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
    border: none; }
    .finder-wrapper .finder-result .satin-al:hover {
      padding: 5px 20px; }

/* MARKETFINDER BİTİŞ */
/* PROJE ALANI BAŞLANGIC */
.tasklar .task-wrapper .task-status {
  text-align: center;
  color: rgba(28, 29, 34, 0.8);
  margin: 2rem auto 2rem auto;
  font-size: 1.4rem; }
.tasklar .task-wrapper .task-ul {
  margin-bottom: 3rem;
  list-style: none;
  padding: 0 3rem; }
  .tasklar .task-wrapper .task-ul .task-li {
    font-size: 1.1rem;
    position: relative;
    padding: 0.5rem 1.6rem 0.5rem 0.5rem;
    margin: 1.5rem auto; }
    .tasklar .task-wrapper .task-ul .task-li .task-title, .tasklar .task-wrapper .task-ul .task-li .task-description {
      font-size: 18px;
      margin: 0;
      padding: 5px 20px 5px 5px; }
    .tasklar .task-wrapper .task-ul .task-li .task-description {
      font-size: 13px; }
    .tasklar .task-wrapper .task-ul .task-li .task-icon {
      position: absolute;
      text-align: end;
      top: 8px;
      right: 10px; }
    .tasklar .task-wrapper .task-ul .task-li .task-icon-admin {
      position: absolute;
      text-align: end;
      top: 8px;
      right: 10px; }
.tasklar .task-wrapper .task-seperator {
  min-height: 30vh;
  overflow: visible; }
.tasklar .task-wrapper .dropdown2:hover .dropdown-menu {
  display: block;
  margin-top: 0; }
.tasklar .task-wrapper .info-btn {
  font-size: 1rem;
  pointer-events: none;
  background-color: transparent;
  border: none; }
.tasklar .task-wrapper .info {
  padding-left: 20px;
  padding-right: 20px;
  inset: auto auto auto auto !important;
  background-color: white;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 10px 50px #2a2a2a; }

/* PROJE ALANI BİTİŞ */
/* video modal başlangıç */
.videoWrapper .swiper {
  overflow: visible; }
.videoWrapper .swiper-slide {
  padding: 20px 10px 20px 10px;
  height: auto; }
.videoWrapper .swiper-wrapper {
  min-height: 220px; }
.videoWrapper .videoInner {
  height: 10rem;
  transition: 0.5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px rgba(109, 0, 172, 0.3);
  cursor: pointer; }
  .videoWrapper .videoInner:hover {
    scale: 1.1;
    box-shadow: 0px 0px 20px 15px rgba(109, 0, 172, 0.3); }

.howto {
  transition: 0.5s ease-in-out; }
  .howto:hover {
    transform: scale(0.9); }

/* video modal BİTİŞ" */
.reqModal {
  display: flex;
  justify-content: center; }
  .reqModal .reqWrapper {
    height: 650px;
    width: 1300px; }
    .reqModal .reqWrapper .reqTitle {
      padding-top: 30px;
      padding-bottom: 10px; }
    .reqModal .reqWrapper .reqTable {
      background-color: rgba(85, 112, 241, 0.1);
      max-width: 900px;
      font-size: 17px;
      border: 3px solid #1c1d22; }
      .reqModal .reqWrapper .reqTable .column1 {
        color: #1c1d22;
        padding-left: 30px;
        max-width: 60px; }
      .reqModal .reqWrapper .reqTable .column2 {
        color: rgba(28, 29, 34, 0.8);
        padding-left: 30px;
        max-width: 100px;
        border-left: 3px solid #1c1d22; }
      .reqModal .reqWrapper .reqTable td {
        padding: 10px; }
      .reqModal .reqWrapper .reqTable tr {
        border-bottom: 3px solid #1c1d22; }

.ReactModal__Overlay {
  z-index: 9; }

._2qp0Z {
  z-index: 2; }

._1yCVn {
  z-index: 2; }

#announcement {
  color: white;
  padding-top: 5px;
  margin-bottom: 10px;
  background: #1a2142;
  background: -moz-linear-gradient(122deg, rgba(62, 79, 162, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
  background: -webkit-linear-gradient(122deg, rgba(61, 77, 157, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
  background: linear-gradient(122deg, rgba(64, 80, 163, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%); }
  #announcement .mySwiper1 .swiper-slide {
    margin: auto; }

.form-check-input:checked {
  background-color: #323377;
  border-color: #323377; }

@media only screen and (max-width: 1200px) {
  .chart-wrapper {
    padding: auto; } }
@media only screen and (max-width: 992px) {
  .right {
    position: relative;
    max-width: 90%;
    margin: 0 auto; }

  .sidebar-logo {
    display: flex;
    max-width: 3rem !important;
    height: auto;
    margin: auto 0 auto auto;
    float: right; }

  .pbg, .tasklar .task-wrapper .task-ul .task-li {
    background-color: white;
    border-radius: 10px;
    border: 1px solid white; }

  .wrapper {
    width: 300px !important; }
    .wrapper .title {
      justify-content: center; }

  .mainhov:hover {
    scale: 1;
    background-color: white;
    color: inherit; }

  .dashboard #total-sales, .dashboard #total-purchases, .dashboard #total-orders, .dashboard #total-growth {
    background-color: white;
    border-radius: 10px;
    width: 49%;
    margin: 0 0rem 1rem 0; }
  .dashboard #total-sales {
    padding: 1rem 0 1rem 2rem; }
  .dashboard #total-purchases {
    padding: 1rem 0 1rem 2rem; }
  .dashboard #total-orders {
    padding: 1rem 0 1rem 2rem; }
  .dashboard #total-growth {
    padding: 1rem 0 1rem 2rem; }
  .dashboard .aylık {
    font-size: 0.9rem !important;
    color: rgba(28, 29, 34, 0.7); }
  .dashboard .plus {
    border-radius: 500px;
    background-color: #519c66;
    width: 50%;
    padding: 0 0 0 1rem;
    position: relative;
    top: 0;
    margin: 0; }
  .dashboard .minus {
    border-radius: 500px;
    background-color: #cc5f5f;
    width: 50%;
    padding: 0 0 0 1rem;
    position: relative;
    top: 0;
    margin: 0; }
  .dashboard .plus2 {
    border-radius: 500px;
    background-color: #519c66;
    width: 50%;
    padding: 0 0 0 1rem;
    position: relative;
    top: 0;
    left: 0;
    font-size: 1rem;
    margin: 0; }
  .dashboard .minus2 {
    border-radius: 500px;
    background-color: #cc5f5f;
    width: 50%;
    padding: 0 0 0 1rem;
    position: relative;
    top: 0;
    left: 0;
    font-size: 1rem;
    margin: 0; }
  .dashboard #graph {
    background-color: white;
    border-radius: 10px;
    height: auto; }
  .dashboard #status {
    font-size: 1rem;
    background-color: white;
    border-radius: 10px;
    height: 23rem; }
  .dashboard #customer-info {
    height: auto;
    font-size: 1rem;
    background-color: white;
    border-radius: 10px; }
  .dashboard .main-info {
    font-size: 15px;
    color: rgba(28, 29, 34, 0.6);
    font-weight: 300;
    margin: 0.5rem 0 0.5rem 0; }
  .dashboard .main-info2 {
    font-size: 15px;
    color: #1c1d22;
    font-weight: 300; }
  .dashboard .info-hr {
    margin-right: 40%;
    margin: 0.6rem 0; }

  .profil .profile-title {
    font-size: 13px;
    border-bottom: 1px solid rgba(85, 112, 241, 0.3);
    padding: 0.3rem 0 0.3rem 0.5rem;
    margin: 0; }
  .profil .profile-info {
    margin: 0;
    padding: 0.5rem 0 0.5rem 1rem; }
  .profil .buton2, .profil .profile-button {
    padding: 0.4rem;
    background-color: transparent;
    border: 1px solid #270082;
    color: #270082;
    border-radius: 10px; }
    .profil .buton2:hover, .profil .profile-button:hover {
      padding: 0.7rem 1rem;
      background-color: transparent;
      border: 1px solid #fa58b6;
      color: #fa58b6;
      border-radius: 10px; }
  .profil .profile-button {
    padding: 0.3rem 0.7rem; }
    .profil .profile-button:hover {
      padding: 0.3rem 0.9rem; }
  .profil .profile-input {
    margin: 0 auto;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgba(85, 112, 241, 0.3); }
  .profil #profile-photo {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fa58b6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .profil #profile-name {
    position: absolute;
    top: 27px;
    left: 27px; }
  .profil .add-product {
    cursor: pointer; }
  .profil .profil-guncelle-buton {
    margin: 0 0 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    border-radius: 10px;
    padding: 3px 20px;
    color: white;
    background: #1a2142;
    background: -moz-linear-gradient(122deg, rgba(62, 79, 162, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
    background: -webkit-linear-gradient(122deg, rgba(61, 77, 157, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
    background: linear-gradient(122deg, rgba(64, 80, 163, 0.9) 12%, rgba(85, 112, 241, 0.9) 75%, rgba(250, 88, 182, 0.9) 100%);
    border: none; }
    .profil .profil-guncelle-buton:hover {
      padding: 3px 25px; }

  .belgeler h5 {
    font-size: 1rem; }
  .belgeler .buton3, .belgeler .buton4 {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin: 0 2rem;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    background-color: transparent;
    color: #1c1d22;
    border-radius: 10px;
    border: none; }
  .belgeler .buton4 {
    border: 1px solid #1c1d22; }
  .belgeler .hov {
    scale: 1; }
  .belgeler .buton3:hover, .belgeler .buton4:hover {
    scale: 0.95;
    color: #fa58b6;
    background-color: #1c1d22; }
  .belgeler .buton4:hover {
    scale: 1.05;
    color: #fa58b6;
    background-color: #1c1d22; }
  .belgeler .dropdown2:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    left: 0px !important; }
  .belgeler .info-btn {
    font-size: 1rem;
    pointer-events: none;
    background-color: transparent;
    border: none; }
  .belgeler .info {
    left: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    inset: auto auto auto auto !important;
    background-color: white;
    border-radius: 10px;
    max-width: 400px; }

  .urunler input:focus,
  .urunler select:focus,
  .urunler textarea:focus,
  .urunler button:focus {
    outline: none; }
  .urunler .buton2, .urunler .profil .profile-button, .profil .urunler .profile-button {
    font-size: 1rem;
    transition: 0.5s;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    background: #1a2142;
    background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
    background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
    background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a2142",endColorstr="#fa58b6",GradientType=1);
    border: none; }
  .urunler .product-input {
    max-width: 70%;
    border-radius: 20px;
    padding: 0.1rem 1rem;
    border: 1px solid #1c1d22;
    transition: 0.5s; }
  .urunler .product-input:focus,
  .urunler .product-input:focus-visible {
    max-width: 100%;
    border-radius: 20px;
    padding: 0.1rem 1rem; }
  .urunler .p-search {
    font-size: 1.1rem; }
  .urunler .product-list {
    list-style: none;
    padding: 0; }
  .urunler .product-item {
    cursor: pointer;
    width: auto;
    padding: 0.5rem; }
  .urunler .product-active {
    background-color: #5570f1;
    color: white; }
  .urunler #product-image {
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #1c1d22; }
  .urunler .product-list-container {
    min-height: 60vh;
    max-height: 60vh;
    /* Adjust the height as needed */
    overflow-y: auto; }
  .urunler #add-product-info {
    max-width: 800px;
    max-height: 500px;
    object-fit: contain; }
  .urunler .product-btn {
    background-color: transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #0c1211;
    display: flex;
    /* Add this to use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */ }
    .urunler .product-btn i {
      margin: 0;
      /* Remove any default margin */ }
  .urunler .dropdown-toggle::after {
    display: none; }
  .urunler .product-dropdown {
    margin: 10px 0 10px 0px; }
  .urunler .upload {
    transition: 1s;
    inset: 3px -325px auto auto !important;
    width: 350px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); }

  .finder-wrapper {
    height: auto !important; }
    .finder-wrapper h5 {
      font-size: 1rem; }
    .finder-wrapper .swiper-slide {
      height: auto !important; }
    .finder-wrapper .map {
      max-width: 400px; }
    .finder-wrapper .finder-submit {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 1rem;
      transition: 0.5s;
      border-radius: 10px;
      padding: 5px 15px;
      color: white;
      background: #1a2142;
      background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
      background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
      background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a2142",endColorstr="#fa58b6",GradientType=1);
      border: none; }
      .finder-wrapper .finder-submit:hover {
        padding: 10px 40px; }
    .finder-wrapper .next-arrow, .finder-wrapper .prev-arrow {
      cursor: pointer;
      position: absolute;
      height: auto;
      width: auto;
      font-size: 1.1rem;
      background: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      bottom: 0px; }
    .finder-wrapper .next-arrow {
      right: 10px; }
    .finder-wrapper .prev-arrow {
      left: 10px; }
    .finder-wrapper .slide {
      margin-top: 5rem !important;
      min-height: 10rem; }
    .finder-wrapper .swiper-pagination-progressbar-fill {
      background-image: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%) !important;
      /* Replace with your desired gradient colors */ }
    .finder-wrapper .custom-radio {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
    .finder-wrapper .custom-radio input[type="radio"] {
      margin: 0;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 25px;
      /* Adjust the size as needed */
      height: 25px;
      /* Adjust the size as needed */
      border: 2px solid #3d4d9d;
      /* Border color */
      border-radius: 50%;
      /* Make it circular */
      outline: none;
      cursor: pointer;
      position: relative;
      /* Add relative positioning */ }
    .finder-wrapper .custom-radio input[type="radio"]::before {
      content: "";
      position: absolute;
      width: 80%;
      /* Adjust the size of the inner circle */
      height: 80%;
      /* Adjust the size of the inner circle */
      background: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%);
      /* Inner circle color */
      border-radius: 50%;
      /* Make it circular */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* Center it */
      opacity: 0;
      /* Initially hidden */ }
    .finder-wrapper .custom-radio input[type="radio"]:checked::before {
      opacity: 1;
      /* Show inner circle when checked */ }
    .finder-wrapper .radio-label {
      cursor: pointer;
      padding-left: 10px;
      /* Adjust the spacing between the radio button and label */
      font-size: 1.2rem;
      /* Adjust the font size as needed */ }
    .finder-wrapper .custom-select {
      padding: 8px;
      font-size: 18px;
      /* Adjust the font size as needed */
      border: none;
      border-radius: 5px;
      background-image: -webkit-linear-gradient(122deg, #3d4d9d 2%, #5570f1 10%, #fa58b6 100%);
      /* Replace with your desired gradient colors */
      color: white; }
      .finder-wrapper .custom-select option {
        color: #1c1d22; }
    .finder-wrapper .finder-text {
      height: 450px;
      font-size: 1.3rem;
      font-weight: 300; }
    .finder-wrapper .finder-result {
      font-size: 1rem;
      font-weight: 300; }
      .finder-wrapper .finder-result .result-logo {
        max-height: 60px;
        margin: auto auto 1rem auto; }
      .finder-wrapper .finder-result .finder-ul {
        font-size: 1rem; }
        .finder-wrapper .finder-result .finder-ul p {
          margin: 0; }
      .finder-wrapper .finder-result .satin-al {
        transition: 0.3s;
        border-radius: 10px;
        padding: 5px 15px;
        color: white;
        background: #1a2142;
        background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
        background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
        background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
        border: none; }
        .finder-wrapper .finder-result .satin-al:hover {
          padding: 5px 20px; }

  .tasklar .accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 0;
    box-shadow: none; }
  .tasklar .task-wrapper .task-status {
    text-align: center;
    color: rgba(28, 29, 34, 0.8);
    margin: auto 0;
    font-size: 1.2rem; }
  .tasklar .task-wrapper .task-ul {
    margin-bottom: 3rem;
    list-style: none;
    padding: 0 3rem; }
    .tasklar .task-wrapper .task-ul .task-li {
      font-size: 1.1rem;
      position: relative;
      padding: 0.5rem;
      margin: 1.5rem auto; }
      .tasklar .task-wrapper .task-ul .task-li .task-title, .tasklar .task-wrapper .task-ul .task-li .task-description {
        font-size: 18px;
        margin: 0;
        padding: 5px 20px 5px 5px; }
      .tasklar .task-wrapper .task-ul .task-li .task-description {
        font-size: 13px; }
      .tasklar .task-wrapper .task-ul .task-li .task-icon {
        position: absolute;
        text-align: end;
        top: 15px;
        right: 10px; }
      .tasklar .task-wrapper .task-ul .task-li .task-icon-admin {
        position: absolute;
        text-align: end;
        top: 8px;
        right: 10px; }
  .tasklar .task-wrapper .task-seperator {
    min-height: 30vh;
    max-height: 82vh;
    overflow: visible; }

  .overlay input[type="button"] {
    border: none;
    outline: none !important; }
  .overlay .modalContainer {
    z-index: 50;
    width: 50vw;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 2rem; }
  .overlay .closeBtn,
  .overlay .closeBtn:hover {
    position: absolute;
    top: 0;
    right: 15px;
    color: #0c1211;
    background-color: transparent;
    border: none;
    outline: none; }
  .overlay .closeBtn:focus {
    outline: none !important; }
  .overlay .service-img {
    width: 300px; }
  .overlay .modal-logo {
    width: 150px;
    display: flex;
    justify-content: center; }
  .overlay .purchase-btn {
    transition: 0.5s;
    background-color: rgba(85, 112, 241, 0.1);
    border-radius: 25px;
    font-size: 1.4rem;
    padding: 10px 25px; }
  .overlay .purchase-btn:hover {
    border-radius: 25px;
    font-size: 1.4rem;
    padding: 10px 35px; }
  .overlay .modal-info-1 {
    color: #1c1d22;
    margin: 0 0; }
  .overlay .modal-info-2 {
    font-size: 1.2rem !important;
    text-decoration: line-through;
    color: rgba(28, 29, 34, 0.8);
    margin: 13px 0; }
  .overlay .modal-info-4 {
    color: #1c1d22;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 13px 0; }
    .overlay .modal-info-4 .month {
      font-weight: 500;
      font-size: 1.6rem; }
  .overlay .discount {
    color: #5570f1;
    vertical-align: middle;
    margin: auto 0 auto 5px;
    border: 1px solid #5570f1;
    border-radius: 10px;
    padding: 2px 7px; }
  .overlay .confirm-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .overlay .confirm-modal h2 {
    font-size: 24px;
    margin-bottom: 10px; }
  .overlay .confirm-modal p {
    font-size: 18px;
    margin-bottom: 20px; }
  .overlay .confirm-actions {
    display: flex;
    justify-content: center; }
    .overlay .confirm-actions button {
      padding: 10px 20px;
      margin: 0 10px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
      .overlay .confirm-actions button:nth-child(1) {
        background-color: #5570f1;
        color: #fff; }
      .overlay .confirm-actions button:nth-child(2) {
        background-color: #cc5f5f;
        color: #fff; }
      .overlay .confirm-actions button:hover {
        opacity: 0.8; }

  .hizmetler .hizmet-wrap {
    background-color: transparent;
    padding: 25px 5px; }
    .hizmetler .hizmet-wrap .hizmet {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      padding: 20px;
      height: 150px;
      border: 1px solid rgba(28, 21, 59, 0.5);
      border-radius: 10px;
      transition: 0.5s; }
      .hizmetler .hizmet-wrap .hizmet .info-btn {
        font-size: 1rem;
        pointer-events: none;
        background-color: transparent;
        border: none; }
      .hizmetler .hizmet-wrap .hizmet .info {
        padding-left: 10px;
        padding-right: 10px;
        inset: auto auto auto auto !important;
        background-color: white;
        border-radius: 10px;
        max-width: 400px; }
    .hizmetler .hizmet-wrap .amazon {
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.192); }
      .hizmetler .hizmet-wrap .amazon:hover {
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.192); }
    .hizmetler .hizmet-wrap .allegro {
      box-shadow: 0px 0px 10px 1px rgba(172, 123, 0, 0.192); }
      .hizmetler .hizmet-wrap .allegro:hover {
        box-shadow: 0px 0px 10px 5px rgba(172, 123, 0, 0.192); }
    .hizmetler .hizmet-wrap .walmart {
      box-shadow: 0px 0px 5px 1px rgba(0, 106, 172, 0.192); }
      .hizmetler .hizmet-wrap .walmart:hover {
        box-shadow: 0px 0px 5px 5px rgba(0, 106, 172, 0.192); }
    .hizmetler .hizmet-wrap .wayfair {
      box-shadow: 0px 0px 5px 1px rgba(109, 0, 172, 0.192); }
      .hizmetler .hizmet-wrap .wayfair:hover {
        box-shadow: 0px 0px 5px 5px rgba(109, 0, 172, 0.192); }
    .hizmetler .hizmet-wrap .ozon {
      box-shadow: 0px 0px 5px 1px rgba(0, 53, 244, 0.192); }
      .hizmetler .hizmet-wrap .ozon:hover {
        box-shadow: 0px 0px 5px 3px rgba(0, 72, 255, 0.192); }
    .hizmetler .hizmet-wrap .hizmet-isim {
      font-size: 20px;
      margin-bottom: 5px; }
    .hizmetler .hizmet-wrap .hizmet-tür {
      margin-bottom: 5px;
      color: rgba(28, 29, 34, 0.8); }
    .hizmetler .hizmet-wrap .hizmet-ücret {
      color: rgba(28, 29, 34, 0.5); }
    .hizmetler .hizmet-wrap .hizmet-img {
      position: absolute;
      bottom: 0px;
      right: -30px;
      opacity: 0.1;
      rotate: -15deg;
      max-width: 200px; }
  .hizmetler .nav-link {
    color: rgba(28, 29, 34, 0.6); }
  .hizmetler .nav-tabs .nav-link.active {
    color: #5570f1; }
  .hizmetler .service-info {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px; }
  .hizmetler .satin-al {
    transition: 0.3s;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 35px;
    color: white;
    background: #1a2142;
    background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
    background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
    background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
    border: none; }
    .hizmetler .satin-al:hover {
      padding: 5px 40px; }
  .hizmetler .hizmet-wrap-vezu {
    background-color: transparent;
    padding: 25px 25px 25px 25px; }
    .hizmetler .hizmet-wrap-vezu .accordion-header {
      cursor: pointer; }
    .hizmetler .hizmet-wrap-vezu .accordion-item,
    .hizmetler .hizmet-wrap-vezu .accordion-button,
    .hizmetler .hizmet-wrap-vezu .accordion,
    .hizmetler .hizmet-wrap-vezu .accordion-header,
    .hizmetler .hizmet-wrap-vezu .accordion-button:focus {
      background-color: transparent;
      box-shadow: none; }
    .hizmetler .hizmet-wrap-vezu .hizmet {
      overflow: hidden;
      position: relative;
      padding: 0px;
      border: 1px solid #1c153b;
      border-radius: 10px;
      transition: 0.5s; }
    .hizmetler .hizmet-wrap-vezu .vezu {
      box-shadow: 0px 0px 5px 1px rgba(109, 0, 172, 0.192); }
      .hizmetler .hizmet-wrap-vezu .vezu:hover {
        box-shadow: 0px 0px 5px 5px rgba(109, 0, 172, 0.192); }
    .hizmetler .hizmet-wrap-vezu .hizmet-isim {
      transition: 1s;
      color: #1c1d22;
      font-size: 20px;
      margin-bottom: 0; }
    .hizmetler .hizmet-wrap-vezu .hizmet-tür {
      margin-bottom: 5px;
      color: rgba(28, 29, 34, 0.6); }
    .hizmetler .hizmet-wrap-vezu .hizmet-ücret {
      color: rgba(28, 29, 34, 0.6); }
    .hizmetler .hizmet-wrap-vezu .hizmet-img {
      position: absolute;
      bottom: 5px;
      right: -40px;
      opacity: 0.1;
      rotate: -10deg;
      max-width: 250px; }
  .hizmetler .accordion-button:focus {
    z-index: 1;
    border-color: transparent;
    outline: 0;
    box-shadow: none; }

  .confirm-modal {
    position: fixed;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .confirm-modal h2 {
      font-size: 24px;
      margin-bottom: 10px; }
    .confirm-modal p {
      font-size: 18px;
      margin-bottom: 20px; }
    .confirm-modal .confirm-actions {
      display: flex;
      justify-content: center; }
      .confirm-modal .confirm-actions button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer; }
        .confirm-modal .confirm-actions button:nth-child(1) {
          background-color: #5570f1;
          color: #fff; }
        .confirm-modal .confirm-actions button:nth-child(2) {
          background-color: #cc5f5f;
          color: #fff; }
        .confirm-modal .confirm-actions button:hover {
          opacity: 0.8; }

  .overlay input[type="button"] {
    border: none;
    outline: none !important; }
  .overlay .modalContainer {
    justify-content: center;
    z-index: 50;
    width: 90vw;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 2rem 10px; }
  .overlay .closeBtn,
  .overlay .closeBtn:hover {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #0c1211;
    background-color: transparent;
    border: none;
    outline: none; }
  .overlay .closeBtn:focus {
    outline: none !important; }
  .overlay .service-img {
    padding: 10px 0;
    width: 300px; }
  .overlay .modal-logo {
    width: 150px;
    display: flex;
    justify-content: center; }
  .overlay .purchase-btn {
    transition: 0.5s;
    background-color: rgba(85, 112, 241, 0.1);
    border-radius: 25px;
    font-size: 1.4rem;
    padding: 10px 25px; }
  .overlay .purchase-btn:hover {
    border-radius: 25px;
    font-size: 1.4rem;
    padding: 10px 35px; }
  .overlay .modal-info-1 {
    color: #1c1d22;
    margin: 0 0; }
  .overlay .modal-info-2 {
    font-size: 1.2rem !important;
    text-decoration: line-through;
    color: rgba(28, 29, 34, 0.8);
    margin: 13px 0; }
  .overlay .modal-info-3 {
    font-size: 1rem; }
  .overlay .modal-info-4 {
    color: #1c1d22;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 13px 0; }
    .overlay .modal-info-4 .month {
      font-weight: 500;
      font-size: 1.6rem; }
  .overlay .discount {
    color: #5570f1;
    vertical-align: middle;
    margin: auto 0 auto 5px;
    border: 1px solid #5570f1;
    border-radius: 10px;
    padding: 2px 7px; }
  .overlay .satin-al {
    transition: 0.3s;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    background: #1a2142;
    background: -moz-linear-gradient(122deg, #3e4fa2 12%, #5570f1 75%, #fa58b6 100%);
    background: -webkit-linear-gradient(122deg, #3d4d9d 12%, #5570f1 75%, #fa58b6 100%);
    background: linear-gradient(122deg, #4050a3 12%, #5570f1 75%, #fa58b6 100%);
    border: none; }
    .overlay .satin-al:hover {
      padding: 5px 20px; } }
@media only screen and (max-width: 425px) {
  .info-container .info-modal {
    width: 300px; } }
@media only screen and (max-width: 320px) {
  .wrapper {
    width: 250px !important; } }
@media only screen and (min-width: 1700px) {
  .overlay .service-img {
    width: 400px; } }
/* VideoModal.css */
/* Default style */
.videoModal iframe {
  width: 300px;
  height: 300px; }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .videoModal iframe {
    width: 720px;
    height: 405px; } }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .videoModal iframe {
    width: 700px;
    height: 540px; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .videoModal iframe {
    width: 900px;
    height: 550px; } }

/*# sourceMappingURL=App.css.map */
